# Database configuration
DATABASE_URL=sqlite:///data/processed/marts.db

# Directory configurations
RAW_DATA_DIR=data/unprocessed
QUARANTINE_DIR=data/quarantine
PROCESSED_DIR=data/processed

# Application settings
BATCH_SIZE=10000